.item-card-container {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 2px 4px rgba(0, 0, 0, 0.06);
}

.item-card-container.selected {
  background-color: rgb(203, 230, 240);
}

.item-card-left-container {
  flex: 1;
}
.item-card-left-container h3 {
  flex: 1;
  margin-bottom: 8px;
}

.item-card-left-container p {
  flex: 1;
  font-weight: 600;
  color: gray;
}

.item-card-right-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
  align-items: center;
  gap: 6px;
}

.item-card-right-container p {
  font-weight: 600;
  color: gray;
}
