.infoSlideCard {
  width: 0px;
  transition: width 0.3s ease;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  overflow: hidden;
}

.infoSlideCard.open {
  width: 270px;
  padding: 0 8px;
  margin-left: 0;
}

.infoSlideCard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 2px solid #e0e0e0;
}

.infoSlideCard-header h3 {
  font-weight: 600;
}

.back-btn {
  width: fit-content;
  border-width: 0;
  background-color: transparent;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  word-wrap: break-word;
  white-space: normal;
  font-style: italic;
  color: gray;
  padding: 8px 12px 8px 0;
}

.back-btn:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
